html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px; 
  }

body {
    width: 100%;
    background-color: #f5f3f3;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #393e46;
    margin: 0;
}

p, li{
    text-align: justify;
}

nav img {
    margin-right: 40px;
    width: 55px;
}

main a {
    color: #31b081;
}

main li {
    margin-bottom: 10px;
}

header{
    padding-top: 130px;
    text-align: center;
}

h1{
    font-size: 50px;
    color: #f95959;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

#social{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}

#social li{
    border: #727272 solid 2px;
    margin: 0 45px;
    padding: 10px 15px;
    border-radius: 15px;
    width: 130px;
    background-color: #f4f4f4;
}

#social li:hover{
    box-shadow: 0 0 10px #5d5b7eb5;
    cursor: pointer;
}

#social a{
    text-decoration: none;
    color: #393e46;
    vertical-align: middle;
    display: flex;
    line-height: 37px;
    text-align: center;
}

#social .icon{
    margin-right: 15px;
    width: 37px;
}

h2 {
    color: #f96d00;
    font-size: 40px;
    padding-top: 50px;
}

h3 {
    font-size: 30px;
    color: #0092ca;
}

nav {
    width: 100%;
    background-color: #eae8e8fd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li {
    border-right: solid black 1px;
}

nav ul {
    margin-left: 0px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #eae8e8fd;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}

nav ul li a {
    padding: 15px 60px;
    color: #007cb9;
    text-decoration: none;
}

.menuLogo{
    display: none !important;
}

nav ul li a:hover{
    background-color: rgba(214, 214, 214, 0.847);
}

.sticky {
    margin: 0;
    position: fixed;
    top: 0px;
    width: 100%;
}

label {
    margin-right: 10px;
}

li > span {
    margin-left: 10px;
}

.sticky ul {
    margin: 0;
}

section {
    width: 90%;
    padding: 70px 0px 30px 40px;
}

#languages > li {
    margin-top: 50px;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: left;
}

.sectionTitle > img{
    padding-right: 15px;
}

#projects {
    width: 100%;
    padding-left: 0;
}

#allProjects{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 100%;
}

.project > h3 {
    text-align: center;
}

.project {
    transition: box-shadow .2s;
    width: 30%;
    border: solid #455d7a 5px;
    border-radius: 5%;
    background-color: white;
    padding: 0px 40px 15px 40px;
    margin-bottom: 40px;
}

.project:hover{
    box-shadow: 0 0 20px #3e5571b5
}

footer {
    margin-top: 30px;
    background-color: #eae8e8b5;
    text-align: center;
    padding: 15px 0px 10px 0px;
    width: 100%;
    font-size: 18px;
}

.progress {
    width: 30%;
    padding: 6px;
    border-radius: 30px;
    background: rgba(28, 28, 28, 0.111);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.1);
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
}

.progressbar {
    height: 17px;
    border-radius: 30px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05)
    );
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.no-decorator{
    list-style-type: none;
}

.lang{
    font-weight: bold;
}

.backgroundChange{
    background-color: #d7d7d7fd;
}

.awards{
    font-style: italic;
    margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    .progressBarsAnimation{
        background : linear-gradient(#4ed3fb, #47a9ef);
        animation: progressAnimation 3s;
    }

    @keyframes progressAnimation {
        0% {
            width: 0%;
            background-color: #bce5f9;
        }
        100% {
            background-color: #47a9ef;
        }
    }
}

@media only screen and (max-width: 1360px){

    nav {
        width: 100%;
        background-color: #eae8e8fd;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    nav img {
        margin-left: 30%;
    }

    nav + a {
        position: absolute;
        left: 5%;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        z-index: 2;
        min-height: 23px;
        margin-left: auto;
        margin-right: auto;
    }

    nav li {
        border: none;
        display: none;
    }

    .showNav {
        display: block;
        animation: navAnimation .8s;
    }

    @keyframes navAnimation {
        from {
            margin-top: -20%;
            opacity: 0;
        }

        to {
            margin-top: 0%;
            opacity: 1;
        }
    }

    nav ul li a {
        padding: 10px;
    }
    
    .menuLogo{
        position: absolute;
        right: 5%;
        display: block !important;
        float: right;
        z-index: 2;
        cursor: pointer;
    }

    header{
        padding-top: 70px;
    }

    #social {
        flex-direction: column;
        align-items: center;
    }

    #social li{
        margin-bottom: 25px;
    }

    #allProjects{
        flex-direction: column;
        align-items: center;
    }

    .project{
        width: 60%;
    }
}